body {
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
    height:100%;
 }
#container {
    min-height:100vh;
   position:relative;
}
#body {
    padding:10px;
    padding-bottom:60px;   /* Height of the footer */
   
 }
#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    background:#00AE63;
    margin-top: 100px;
    text-align: center;
    color: white;
 }
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}
.navbar ul {
    list-style-type: none;
}
.navbar a {
    font-size: 20px;
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.navbar li a.active {
    background-color: #00AE63;
    color: #A9F900;
    border-radius: 20px;
    border: 2px solid #007241;
}

.navbar li a:hover:not(.active) {
    background-color:#007241;
    color: white;
    border-radius: 20px;
    border: 2px solid #FE7300;

}

#mainSearch, #search {
    height: 50px;
    border-radius: 20px; 
    font-size: 30px
}
#search {
    margin-left: 1%;
    color:white;
    background-color: red;
    border: 2px solid rgb(37, 202, 76);
}
#searchArea , #result{
    border-radius: 20px;
    padding: 20px;
    background-color: #FDFEEC;
    margin: 20px;
    border: 2px solid #367B3B;
}
.mainSearch {
    margin-bottom: 20px;
}
.moreOption {
    display: inline;
    padding:20px;
}

/* Table */
#temperatureTable {
    border: 2px solid #00A053;
    border-collapse: collapse;
    margin:auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
#temperatureTable td, #temperatureTable th {
    border: 1px solid rgb(191, 34, 139);
    padding: 8px;

  }
#temperatureTable tr:nth-child(even){
    background-color: #A4D6B3;
}
#temperatureTable tr:nth-child(odd){
    background-color: #9EE8B4;
}

#temperatureTable tr:hover {background-color: #D5E5D0;}
/* make table header cells have a darker background colour and a different font colour */
#temperatureTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #2E8A11;
    color: white;
  }
  /* end table */